// Tooltip Variables
$tooltipBackground: rgba(0,0,0,0.8);
$tooltipForeground: #fff;
$tooltipPointerSize: 5px;

.tooltip {
  position:absolute;
  background: $tooltipBackground;
  color: $tooltipForeground;
  font-size:1.2rem;
  line-height: 1.2;
  padding:8px 12px;
  border-radius: 3px;
  .tooltip-content {
    min-width:100px;
  }
  .tooltip-arrow {
    position:absolute;
    bottom: -2*$tooltipPointerSize;
    border: $tooltipPointerSize solid transparent;
    border-top-color: $tooltipBackground;
    left:50%;
    margin-left:-$tooltipPointerSize;
  }
}
